<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b>
    0.1
  </div>
  dejare una leyenda luego ms 
  <a href="www.google.cl">Creative Commons SysaConsulting 2020</a>.
</footer>
